<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
        <script src="https://cdn.tailwindcss.com/"></script>
        <title>All Groups</title>
        <style>
            nav > ul > li:hover ul {
                display: block;
            }
            .group-list ul {
                list-style-type: circle;
            }
        </style>
    </head>
    <body class="bg-slate-900 text-slate-100 font-['Montserrat']">
        <header>
            <nav class="flex items-center justify-around px-10 py-6 bg-black">
                <a href="{% url "land" %}">
                    <div class="title flex items-center gap-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/17870/17870252.png" width="38">
                        <h2 class="text-2xl font-extrabold tracking-wide bg-gradient-to-r from-rose-500 to-yellow-500 text-transparent bg-clip-text">Event Management</h2>
                    </div>
                </a>
                <ul class="flex gap-6 text-xl font-medium">
                    <li class="rounded-md px-3 py-2 text-sm font-medium text-gray-100 hover:bg-gradient-to-tr from-rose-600 to-pink-600 hover:text-white"><a href="">Dashboard</a> <span class="fas fa-caret-down"></span></li>
                    <li class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-100 hover:bg-gradient-to-tr from-rose-600 to-pink-600 hover:text-white">Groups <span class="fas fa-caret-down"></span>
                        <ul class="bg-slate-950 bg-opacity-75 border-2 rounded-lg mt-1 py-2 hidden absolute">
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "view-group" %}" target="_blank">View All</a></li>
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "create-group" %}" target="_blank">Create New</a></li>
                        </ul>
                    </li>
                    <li class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-100 hover:bg-gradient-to-tr from-rose-600 to-pink-600 hover:text-white">Manage <span class="fas fa-caret-down"></span>
                        <ul class="bg-slate-950 bg-opacity-75 border-2 rounded-lg mt-1 py-2 hidden absolute">
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "view-event" %}" target="_blank">Events</a></li>
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "view-category" %}" target="_blank">Categories</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </header>
        <main>
            <h1 class="text-3xl text-center font-bold tracking-wide bg-gradient-to-r from-rose-500 to-purple-400 text-transparent bg-clip-text mt-8">All Groups</h1>
            <section class="group-list space-y-6 mx-6 md:mx-24 lg:mx-40 mt-16 mb-6">
                {% for group in groups %}
                <div class="py-6 rounded-2xl bg-gradient-to-r from-rose-500 to-purple-500 w-full md:w-5/6 lg:w-3/4 xl:w-1/2 mx-auto">
                    <h3 class="mb-4 text-3xl text-center text-white font-semibold">{{ group.name }}</h3>
                    <div class="w-full h-px bg-slate-300"></div>
                    <ul class="mx-12 mt-4 space-y-2">
                        {% for permission in group.permissions.all %}
                        <li class="text-xl"><span class="font-medium">{{ permission.name}}</span> &lpar;{{ permission.codename }}&rpar;</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </section>
        </main>
    </body>
</html>